bin
obj
csx
.vs
.vscode
.DS_Store
.idea
edge
Publish

pyrightconfig.json

*.user
*.suo
*.cscfg
*.Cache
project.lock.json
proxy_off.sh
proxy_on.sh

/packages
.scannerwork
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

.env.secret
/data/
/venv/
/proxy_on
.coverage
__pycache__/
.ipynb_checkpoints
*.py[cod]
.ipynb_checkpoints

mnt/

rails/kb
venv_nemo
/nemo_env/